/*
 * BrightAI Background - Stylesheet
 * Imports centralized design tokens
 */
@import url('css/design-tokens.css');

#chart-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
}
